{{#with response}}
<img class="modal-event-icon" src="{{#with images}}{{[9].url}}{{/with}}" width="132px" height="132px" />
<div class="modal-event-data">
    <img class="modal-poster" src="{{#with images}}{{[7].url}}{{/with}}" width="360px" height="641px" />
    <ul class="modal-event-data-list">
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">INFO</h3>
            <p class="modal-data-item-text">
                {{name}}
            </p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHEN</h3>
            <p class="modal-data-item-text date">{{dates.start.localDate}}</p>
            <p class="modal-data-item-text">{{dates.start.localTime}}</p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHERE</h3>
            <p class="modal-data-item-text сity-country">
                {{#with _embedded.venues.[0].city}}{{name}}{{/with}},
                {{#with _embedded.venues.[0].country}}{{name}}{{/with}}
            </p>
            <p class="modal-data-item-text">
                {{#with _embedded.venues}}
                {{#if [0].name}}
                {{[0].name}}
                {{else}}
                Unknown place
                {{/if}}
                {{/with}}
            </p>
        </li>
        <li class="modal-data-item">
            <h3 class="modal-data-item-title">WHO</h3>
            <p class="modal-data-item-text">
                {{#with _embedded.attractions.[0]}}{{name}}{{/with}}
            </p>
        </li>
        <ul class="modal-event-data-list">
            <li>
                <h3 class="modal-data-item-title">PRICES</h3>
            </li>
            <li class="modal-data-item">
                <p class="modal-data-item-text price">
                    <span>
                        <svg class="modal-price-barcode">
                            <use href="./images/symbol-defs.svg#barcode"></use>
                        </svg>
                    </span>
                    Standard
                    {{#with priceRanges}}
                        {{#if [0].type}}{{[0].min}}-{{else}}unknown{{/if}}{{#if [0].type}}{{[0].max}}{{else}}unknown{{/if}}
                        {{#if [0].type}}{{[0].currency}}{{else}}-{{/if}}
                    {{/with}}
                </p>
            </li>
            <li class="modal-data-item btn-tickets">
                <button class="modal-btn-buy-tickets">BUY TICKETS</button>
            </li>
            <li class="modal-data-item">
                <p class="modal-data-item-text price">
                    <span>
                        <svg width="29px" height="19px" class="modal-price-barcode">
                            <use href="./images/symbol-defs.svg#barcode"></use>
                        </svg>
                    </span>
                    VIP
                    {{!-- треба уточнити --}}
                    {{#with priceRanges}}
                        {{#if [2].type}}{{[2].min}}-{{else}}{{/if}}{{#if [2].type}}{{[2].max}}{{else}}-{{/if}}
                        {{#if [2].type}}{{[2].currency}}{{else}}-{{/if}}
                    {{/with}}
                </p>
            </li>
            <li class="modal-data-item">
                <button class="modal-btn-buy-tickets btn-tickets">
                    BUY TICKETS
                </button>
            </li>
        </ul>
    </ul>
</div>
{{/with}}
{{#with eventsAuthor}}
    <select class="modal-author-btn" name="author-attr" onchange="location = this.value">
        <option>MORE FROM THIS AUTHOR</option>
        {{#each this}}
        <option value="{{url}}">{{#with _embedded.venues.[0].city}}{{name}}{{/with}} {{dates.start.localDate}}
        {{/each}}
        </ul>
    </select>
{{/with}}